<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>{% block title %} Podcast2Text {% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul class="navigator">
        <li>
          <a href="/">
            Home
            <img src="{% static 'svg/home.svg' %}" alt="" class="nav-images" />
          </a>
        </li>
        <li>
          <a href="home">
            <img
              src="{% static 'svg/information.svg' %}"
              alt=""
              class="nav-images"
            />
          </a>
        </li>
      </ul>
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
